<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Thông tin cá nhân</title>
    </head>
    <body>
    	Tên đăng nhập: {{USER_NAME}} <br />
    	Mật khẩu: {{PASSWORD}} <br />
    </body>
</html>  